.message {
   position: fixed;
   top: 30px;
   right: 30px;
   z-index: 30;
   font-weight: 700;
   padding: 10px 20px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
   font-size: 0.8rem;
}
.success {
   background-color: rgb(191, 239, 191);
   color: rgb(14, 72, 14);
   border: 1px solid rgb(14, 72, 14);
}
.remove {
   background-color: #fdf7ec;
   color: #ffc861;
   border: 1px solid #ffc861;
}